* {
    background-color: #0d0c0c;
    color: white;
}

body {
    font-family: "Merienda", cursive;
    font-size: 100%;
}

.esquina-s {
    width: 11%;
    height: 8%;
    background-color: #0d0c0c;
    position: absolute;
    top: 4%;
    left: 2%;
    border-left: 2px solid #f3f3f5;
    border-top: 2px solid #f3f3f5;
}

.esquina-i {
    width: 11%;
    height: 8%;
    background-color: #0d0c0c;
    position: absolute;
    bottom: 4%;
    right: 2%;
    border-right: 2px solid #f3f3f5;
    border-bottom: 2px solid #f3f3f5;
}

.contenedor-bienvenido {
    font-size: 100%;
    width: 50%;
    margin-top: 10%;
    margin-left: 13%;
}

.titulo-1 {
    font-size: 160%;
    position: absolute;
}

.img1 {
    position: relative;
    margin-top: 20%;
}

p {
    margin-top: 12%;
    display: inline-block;
    font-size: 100%;
}


.contenedor-proyectos{
    font-size: 100%;
    width: 50%;
    margin-top: 10%;
    margin-left: 13%;
}
.titulo-2{
    font-size: 20px;
    margin-top:12% ;
    margin-right: 20%;
}


.marco-proyects {
    width: 11%;
    height: 23%;
    position: absolute;
    top: 15%;
    left: 3%;
    background-color: transparent;
    border-left: 2px solid #88ec78;
    border-top: 2px solid #88ec78;
    border-top-left-radius: 13px;
    border-top-right-radius: 3%;
    margin-left: 60%;
    margin-top: 12%;
}

.marco-2 {
    width: 83%;
    height: 90%;
    position: relative;
    top: 3%;
    left: 5%;
    background-color: transparent;
    border-left: 2px solid orange;
    border-top: 2px solid orange;
    border-top-left-radius: 13px;
    border-top-right-radius: 3%;
}

.p {
    margin-left: 10%;
    text-decoration: none;
    font-size: 120%;
    bottom: 55%;
}

.img-p {
    margin-bottom: 9%;
    margin-left: 15%;
    width: 80%;
}

.Botones {
    display: flex;
    margin-top: 13%;
    justify-content: center;
}

.Boton1 {
    border-radius: 30px;
    border-color: #f3f3f5;
    width: 160%;
    height: 120%;
}

.Boton2 {
    border-radius: 30px;
    width: 130%;
    height: 120%;
    border-color: #88ec78;
}

.Boton3 {
    border-radius: 30px;
    border-color: #f3f3f5;
    width: 130%;
    height: 120%;
}


.link2 {
    text-decoration: none;
    color: #88ec78;
    text-align: center;
    font-family: "Merienda", cursive;
}

a {
    text-decoration: none;
    color: #f3f3f5;
    font-family: "Merienda", cursive;
}

.Boton1:hover {
    border: 2px solid #88ec78;
}

.Boton2:hover {
    border: 2px solid #88ec78;
}

.Boton3:hover {
    border: 2px solid #88ec78;
}

.Boton2:hover {
    border: 2px solid orange;
}

.link2:hover {
    color: orange;
}

a:hover {
    color: #88ec78;
}

.btn-1 {
    display: inline-block;
    margin-right: 7%;
    justify-content: center;
}

.btn-2 {
    display: inline-block;
    margin: 0%;
    justify-content: center;
}

.btn-3 {
    display: inline-block;
    margin-left: 7%;
    justify-content: center;
}





@media (max-width: 768px) {
    body {
        font-size: 55%;
    }

    .Botones {
        margin-top: 35%;
    }

    .img1 {
        margin-top: 22%;
        width: 75%;
    }

    p {
        margin-top: 5%;
        font-size: 160%;
    }

    .contenedor-proyectos{
        font-size: 100%;
        width: 50%;
        margin-top: 30%;
        margin-left: 13%;
    }
    .titulo-2{
        font-size: 20px;
        margin-top:30% ;
        margin-right: 20%;
    }
    
    
    .marco-proyects {
        width: 20%;
        height: 15%;
        position: absolute;
        top: 15%;
        left: 3%;
        background-color: transparent;
        border-left: 2px solid #88ec78;
        border-top: 2px solid #88ec78;
        border-top-left-radius: 13px;
        border-top-right-radius: 3%;
        margin-left: 60%;
        margin-top: 32%;
    }
    
    .marco-2 {
        width: 80%;
        height: 90%;
        position: relative;
        top: 3%;
        left: 5%;
        background-color: transparent;
        border-left: 2px solid orange;
        border-top: 2px solid orange;
        border-top-left-radius: 13px;
        border-top-right-radius: 3%;
    }
    
    .p {
        margin-left: 10%;
        text-decoration: none;
        font-size: 170%;
        bottom: 70%;
    }
    
    .img-p {
        margin-bottom: 9%;
        margin-left: 15%;
        width: 80%;
    }

}

@media(min-width: 400px){

    .contenedor-general{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    

}